.nfc-north, .nfc-east, .nfc-west, .nfc-south {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.afc-north, .afc-east, .afc-west, .afc-south {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

p {
    margin: 5px 0;
}